.createTeam{
    position: absolute;
        width: 1400px;
        height: 550px;
        left: 74px;
        top: 158px;
    
        background: #C4EAFF;
        border-radius: 30px;
}

#teamName {
    position: absolute;
        width: 450px;
        height: 60px;
        left: 500px;
        top: 50px;
    
        background: #FFFFFF;
        border-radius: 25px;
}

#teamCount {
    position: absolute;
    width: 200px;
    height: 60px;
    left: 500px;
    top: 150px;

    background: #FFFFFF;
    border-radius: 25px;
}

#teamPurpose {
position: absolute;
    width: 450px;
    height: 60px;
    left: 500px;
    top: 250px;

    background: #FFFFFF;
    border-radius: 25px;
}

#box {
    position: absolute;
        width: 450px;
        height: 100px;
        left: 500px;
        top: 350px;
    
        background: #FFFFFF;
        border-radius: 30px;
}

#text {
    position: absolute;
    top: 10px;
    left: 30px;
    font-weight: bold;
    font-size: 20px;
}

#check1 {
    position: absolute;
        top: 50px;
        left: 30px;
        width: 20px;
        height: 20px;
}

#check1-text {
    position: absolute;
        top: 50px;
        left: 60px;
}

#check2 {
    position: absolute;
    top: 50px;
    left: 220px;
    width: 20px;
    height: 20px;
}

#check2-text {
    position: absolute;
    top: 50px;
    left: 250px;
}

#submit {
    position: absolute;
        width: 250px;
        height: 48px;
        left: 600px;
        top: 480px;
    
        background: #499AC8;
        border-radius: 30px;
        border: 1px solid #499AC8;
}

#submit-text {
position: absolute;
    width: 100px;
    height: 14px;
    left: 95px;
    top: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
